body {
  background-color: grey;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 0.1rem solid yellow;
  background: yellow;
  width: 250px;
  height: 250px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.1rem;
}

.squares {
  /* background: #272727; */
  background: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: green;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 0.5rem;
}

li {
  list-style: none;
}

.wrapper button {
  background: #272727;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
}

.winner {
  font-size: 3rem;
  color: tomato;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
